[Unit]
Description=Home Assistant
After=network-online.target

[Service]
Type=simple
User=currentuser
ExecStart=/home/currentuser/hub/bin/hass -c "/home/currentuser/.homeassistant"

[Install]
WantedBy=multi-user.target

